@media (min-width: 768px) {
  .logo {
    width: 6%;
  }

  footer .logo {
    width: 60%;
  }
}

@media (min-width: 992px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }
}

@media (min-width: 1200px) {
  /* Layout */
  main {
    margin-top: var(--header-height);
  }

  .container {
    max-width: 1120px;
    margin: 0 auto;
  }

  .section {
    padding: 6rem 0;
  }

  .section header,
  #testimonials header {
    max-width: 32rem;
    text-align: center;
    margin: 0 auto;
  }

  .button {
    height: 3.125rem;
  }

  /* Navegação */
  nav .menu {
    visibility: visible;
    opacity: 1;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 var(--subtitle-font-size) var(--body-font);
  }

  nav .icon-menu {
    display: none;
  }

  /* Seção home */
  #home .container.grid {
    margin: 0 auto;
    justify-content: space-between;
    grid-auto-flow: column;
  }

  #home .image {
    order: 1;
    margin-right: 0;
  }

  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
    margin-left: 0;
  }

  /* Seção about */
  #about .container {
    grid-auto-flow: column;
    margin: 0 auto;
  }

  /* Cads */
  .cards {
    width: 50%;
    margin: 0 auto;
  }

  .card {
    padding-right: 3rem;
    padding-left: 3rem;
  }

  #testimonials .container {
    margin: 0 auto;
  }

  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }

  footer .section {
    padding: 3.5rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  foote .logo {
    font-size: 2.25rem;
  }
}